.books {
    display: grid;
    justify-content: center;
    align-content: flex-start;
}
.books_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.books_container .card{
    margin: 10px;
}
.books_container button:active{
    -webkit-box-shadow: 0px 0px 32px -3px rgba(253,172,83,1) !important;
-moz-box-shadow: 0px 0px 32px -3px rgba(253,172,83,1) !important;
box-shadow: 0px 0px 32px -3px rgba(253,172,83,1) !important;
}
.books_card-added {
    transition: ease-in .5s;
    
}
.books_card-added svg{
    color: #5cb85c;
}
@media screen and (max-width: 1024px) {
    .books_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
    .books_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 639px) {
    .books_container {
        display: grid;
        grid-template-columns: 1fr;
    }
}