body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: floralwhite; 
}
a:hover,
a:focus,
a:active,
a:focus-within{
  text-decoration: none;
  color:#FDAC53;
  outline: none;
}
.btn {
  background-color: #FDAC53;
  border: 1px solid #FDAC53;
  text-transform: uppercase;
  color: floralwhite; 
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:focus-within{
  background-color: floralwhite !important;
  border: 1px solid #FDAC53 !important;
  color: #FDAC53 !important;
  box-shadow: none !important;
}
.btn.disabled {
  cursor: not-allowed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
